/* Стилізація форми */
form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #122e13;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Стилізація таблиці результатів */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}